@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
  }

.artWorks-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root > div > main > div > a:hover {
    text-decoration: none;
}

.painting-cards {
    width: 18rem;
    margin: 30px 30px;
    font-family: 'Nunito';
    background-color: #bc9a62 !important;
}

.painting-cards > .card-body > a {
    background-color: #e8ddc9;
    border-color: #e8ddc9;
    color: black;
    font-weight: 600;
}

.card-img, .card-img-top{
    height: 350px;
    width: auto;
    display: flex;
    justify-content: center;
}

.painting-cards:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px grey;
}

.paintings-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.label-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}

.label-form > span {
    font-size: 36px;
    font-family: 'Nunito';
}

.label-form > select {
    margin-top: 20px;
}

.card-title{
    font-weight: bold !important;
    font-size: 20px;
}