h1{
    font-size: 7vw;
    background-image: url(../images/logo.jpg);
    background-size: contain;
    background-position: bottom;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-stretch: extra-expanded;
    float: left;
    margin: 15px;
}

.header{
    display: flex;
    flex-direction: column;
}